*{
    margin: 0;
    padding: 0;
}
nav{
    background-image: url(../img/gg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(232, 232, 235);
    font-style: italic;
    font-size: 20px;
    font-family: arial;
    width: 100%;
    height: 700px;
}
div{
    height: 150px;
    width: 100%;
}
#i{
    height: 300px;
    width: 300px;
    float: left;
}
input{
    border-radius: 3px;
    background-color: rebeccapurple;
    color: white;
    border: 1;
    font-size: 20px;
    cursor: pointer;
}